baseURL = 'https://philippdubach.com/'
languageCode = 'en-us'
title = 'philippdubach'

[security]
  [security.funcs]
    getenv = ['^HUGO_', '^CI$', '^GOATCOUNTER_API_TOKEN$']
    readFile = ['.*']

[pagination]
  pagerSize = 10
  path = "page"

[params]
  author = "Philipp Dubach"
  description = "Blog about Personal Projects, Articles and Papers on Economics, Finance and Technology"
  keywords = ["Finance", "Economics", "Technology", "Data", "Machine Learning"]
  favicon = "/favicon.ico"
  math = false
  site_name = "philippdubach.com"
  locale = "en_US"
  default_image = "https://static.philippdubach.com/ograph/ograph-post.jpg"
  theme_color = "#2c3e50"
  msapplication_tile_color = "#2c3e50"
  
 
  [params.social]
    github = "philippdubach"
    email = "info@philippdubach.com"

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      # unsafe = true allows raw HTML in markdown files
      # Required for: <br>, <a>, <section>, <h6> tags used in content files
      # Content is author-controlled, not user-submitted, so security risk is minimal
      unsafe = true
    [markup.goldmark.extensions]
      [markup.goldmark.extensions.passthrough]
        enable = true
        [markup.goldmark.extensions.passthrough.delimiters]
          block = [['\[', '\]'], ['$$', '$$']]
          inline = [['\(', '\)']]

[permalinks]
  posts = "/:year/:month/:day/:slug/"

[frontmatter]
  date = ["date", "publishDate", "lastmod"]
  lastmod = [":git", "lastmod", "date", "publishDate"]
  publishDate = ["publishDate", "date"]
  expiryDate = ["expiryDate"]

[caches]
  [caches.images]
    dir = ':cacheDir/images'
    
[minify]
  minifyOutput = true


[sitemap]
  changefreq = 'daily'
  priority = 0.5
  filename = 'sitemap.xml'

[outputs]
  home = ['HTML', 'RSS', 'SiteMap']
  page = ['HTML']
  section = ['HTML', 'RSS', 'SiteMap']
  