{{/* Related Posts - shows posts with matching categories/keywords */}}
{{ $related := where (.Site.RegularPages.Related . | first 5) ".Params.unlisted" "ne" true | first 3 }}
{{ if $related }}
<aside class="related-posts" aria-labelledby="related-heading">
    <h2 class="related-heading" id="related-heading">Related</h2>
    <ul class="related-list">
        {{ range $related }}
        <li class="related-item">
            <a href="{{ .RelPermalink }}" class="related-link">{{ .Title }}</a>
            {{ with .Params.description }}<p class="related-desc">{{ . | truncate 120 }}</p>{{ end }}
            <span class="related-meta">{{ .ReadingTime }} min read</span>
        </li>
        {{ end }}
    </ul>
    {{ with $.Params.categories }}{{ $cat := index . 0 }}
    <p class="related-more"><a href="/categories/{{ $cat | urlize }}/">More in {{ $cat }}</a></p>
    {{ end }}
</aside>
{{ end }}
