{{/* Breadcrumb Structured Data */}}
{{ if .IsPage }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "{{ .Site.BaseURL }}"
    }
    {{ if .Section }},
    {
      "@type": "ListItem",
      "position": 2,
      "name": "{{ .Section | humanize }}",
      "item": "{{ .Site.BaseURL }}{{ .Section }}/"
    }
    {{ end }},
    {
      "@type": "ListItem",
      "position": {{ if .Section }}3{{ else }}2{{ end }},
      "name": "{{ .Title }}",
      "item": "{{ .Permalink }}"
    }
  ]
}
</script>
{{ end }}

{{/* Article Structured Data */}}
{{ if .IsPage }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "{{ if eq .Type "post" }}BlogPosting{{ else }}Article{{ end }}",
  "headline": "{{ .Title }}",
  "name": "{{ .Title }}",
  "description": "{{ if .Description }}{{ .Description }}{{ else }}{{ .Summary | plainify | truncate 160 }}{{ end }}",
  {{ if .Params.tags }}
  "keywords": [{{ range $i, $tag := .Params.tags }}{{ if $i }}, {{ end }}"{{ $tag }}"{{ end }}],
  {{ end }}
  "articleBody": {{ .Content | plainify | jsonify }},
  "wordCount": {{ .WordCount }},
  "inLanguage": "{{ .Site.Language.Lang | default "en" }}",
  {{ $image := "" }}
  {{ if .Params.images }}
    {{ $image = index .Params.images 0 }}
  {{ else if .Params.image }}
    {{ $image = .Params.image | absURL }}
  {{ else if .Site.Params.default_image }}
    {{ $image = .Site.Params.default_image }}
  {{ end }}
  {{ if $image }}
  "image": "{{ $image }}",
  {{ end }}
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ .Site.Title }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ .Site.BaseURL }}icons/favicon.ico"
    }
  }
  {{ if .Site.Params.author }},
  "author": {
    "@type": "Person",
    "name": "{{ .Site.Params.author }}"
  }
  {{ end }}
}
</script>
{{ end }}