{{/* Enhanced Twitter Cards implementation */}}
<meta name="twitter:card" content="summary_large_image">
{{ if .Site.Params.social.twitter }}
<meta name="twitter:site" content="{{ .Site.Params.social.twitter }}">
<meta name="twitter:creator" content="{{ .Site.Params.social.twitter }}">
{{ end }}
<meta name="twitter:title" content="{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}">
<meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">

{{/* Twitter Image */}}
{{ $image := "" }}
{{ if .Params.image }}
    {{ $image = .Params.image | absURL }}
{{ else if .Site.Params.default_image }}
    {{ $image = .Site.Params.default_image | absURL }}
{{ end }}
{{ if $image }}
<meta name="twitter:image" content="{{ $image }}">
{{ end }}