{{/* Twitter/X Cards implementation */}}
<meta name="twitter:card" content="summary_large_image">
{{ with .Site.Params.social.twitter }}
<meta name="twitter:site" content="@{{ . }}">
<meta name="twitter:creator" content="@{{ . }}">
{{ end }}
<meta name="twitter:title" content="{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}">
<meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">

{{/* Twitter Image - handles multiple formats */}}
{{ $image := "" }}
{{ if .Params.images }}
    {{/* Handle images array (your format) */}}
    {{ $image = index .Params.images 0 }}
    {{/* Ensure absolute URL for Twitter Cards */}}
    {{ if not (hasPrefix $image "http") }}
        {{ $image = $image | absURL }}
    {{ end }}
{{ else if .Params.image }}
    {{/* Handle single image field */}}
    {{ $image = .Params.image | absURL }}
{{ else if .Site.Params.default_image }}
    {{/* Fallback to site default */}}
    {{ $image = .Site.Params.default_image }}
{{ end }}

{{ if $image }}
<meta name="twitter:image" content="{{ $image }}">
<meta name="twitter:image:alt" content="{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}">
{{ end }}