{{ define "main" }}
<div class="archive">
    <h1>Blog</h1>
    <p class="archive-description">All posts in chronological order. For a paginated view, visit <a href="/posts/">/posts/</a>.</p>
    
    {{ $posts := where .Site.RegularPages "Section" "posts" }}
    {{ $posts := $posts.ByDate.Reverse }}
    {{ range $posts.GroupByDate "2006" }}
    <section class="year">
        <h2>{{ .Key }}</h2>
        {{ range .Pages }}
        <article class="archive-item">
            <div class="archive-meta">
                <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                    {{ .Date.Format "Jan 2" }}
                </time>
            </div>
            <div class="archive-title">
                <a href="{{ .Permalink }}">
                    {{ .Title }}
                    {{ if in .Params.tags "Project" }}
                       <span class="project-tag">PROJECT</span>
                    {{ end }}
                </a>
            </div>
        </article>
        {{ end }}
    </section>
    {{ end }}
</div>
{{ end }}